.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  margin-top: 70px;
}

@media (max-width: 768px) {
  .main {
    margin-top: 60px;
  }
}

@media (max-width: 480px) {
  .main {
    margin-top: 55px;
  }
}
